*.iml
*.log
.DS_Store
/.classpath
/.clover
/.idea
/.metadata
/.project
/.settings
/amq
/bin
/*.log
/data/output
dist/data/output
/src/test/resources/output
/target
/config/desc/*.xml
/ef-extractor.iml
data/NewProject/
lib/
data/test/*.txt
